* {
  padding: 0;
  margin: 0;
}
/* #74d14c  logo ko green  */
/* #f7f7f7  logo ko white */
/* #0e375e  logo ko blue  */
header {
  background: #74d14c;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5rem;
  background: #f7f7f7;
  height: 4rem;
  position: relative;
}

/* notification */
.icon {
	cursor: pointer;
	margin-right: 50px;
	line-height: 60px;
}
.icon span {
	background: #f00;
	padding: 7px;
	border-radius: 50%;
	color: #fff;
	vertical-align: top;
	margin-left: -25px;
}
.icon img {
	display: inline-block;
	width: 40px;
	margin-top: 20px;
}
.icon:hover {
	opacity: .7;
}

.notifi-box {
	width: 300px;
	height: 0px;
	opacity: 0;
	position: absolute;
	top: 63px;
	right: 35px;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.notifi-box h2 {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #999;
}
.notifi-box h2 span {
	color: #f00;
}
.notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	cursor: pointer;
}
.notifi-item:hover {
	background-color: #eee;
}
.notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}
/* login link */
.login, .enquir {
  text-decoration: none;
  color: #0e375e;
  background: #74d14c;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 550;
}

/* login / user ID info */
.userinfo {
  display: inherit;
  align-items: center;
  font-size: 1.2rem;
  color: #0e375e;
}

.userinfo a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.5rem;
  opacity: 0.9;
}

.userinfo a:visited {
  color: #0e375e;
}

.userinfo a:hover {
  opacity: 1;
  color: #0578e6;
  text-decoration: underline;
}

body {
  background: #ADBEFF;
}

.login a, .login a:visited{
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0 1rem;
  margin: 0.5rem 0;
  color: #0e375e;
  opacity: 0.9;
}

.login a:hover {
  color: #0578e6;
}

.property {
  font-size: 1.2rem;
  border: #000 solid 2px;
  display: flex;
  justify-content: space-between;
  background: #F0CCBC;
  width: 80%;
  margin: 1rem 0 1rem 10%;
}

.details {
  margin: 1rem;
}

.property span{
  display: block;
  padding: 0.2rem;;
}

.booking-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  margin: 0 1.5rem 0 0;
}

.booking-options a{
  display: block;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  margin: 0.4rem 0;
  color: #0e375e;
  background: #19E642;
}

.booking-options a:hover {
  color: #fff;
  background: #146600;
}

/* login container */

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Add padding to containers */
.login-container {
  padding: 1rem;
}

/* Full-width inputs */
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #8a30d3;
  color: white;
  padding: 14px 20px;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover, input[type=submit]:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.new-user {
  width: auto;
  padding: 0.62rem 1.2rem;
  background-color: #fff;
}


/* Sign up container */
/* Full-width input fields */

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  padding: 14px 20px;
  float: left;
  width: 50%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  background-color: #f44336;
}

/* Extra styles for signup button */
.signupbtn {
  background-color: #6a5acd;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* book and enquiry page */
.propdetails span {
  display: block;
  text-transform: capitalize;
  padding: 0.5rem 0;
}

.propdetails input[type="submit"] {
  width: 1px;
}

.book_enqiure {
  width: 90%;
  margin-left: 5%;
}

.book, .chat {
  width: max-content;
}

.book input[type="submit"]{
  padding: 0.5rem 1rem;
  border: none;
}